
/*
cores:
ciano:#27E1C7; 
branco: fff;
cinza: #666;
cinza: #777;
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #666;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
.content{
  width: 100%;
  max-width: 1000px;
  padding: 2.5em;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
p{
  color: #777;
}

a{
  transition: all ease 500ms;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
h1, h2, h3, h4, h5{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 1.2em 0;
  font-weight: 400;
}
section{
  padding: 3em 0 2em 0;
  width: 100%;
}
span.line{
  width: 7.5%;
  display: inline-block;
  height: 3px;
  font-size: 1.2em;
  background: #27E1C7;  
  margin: auto;

}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;

}

#header.header-scrolled {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#header #logo {
  float: left;
}

@media (min-width: 1030px) {
  #header #logo {
    padding-left: 60px;
    margin-left: 10%;
  }
}

#header #logo h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;  
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 40px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
  margin-right: 15%;
}

@media (min-width: 1030px) {
  #nav-menu-container {
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;  
  outline: none;
}
.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #f5f5f5;
}
.nav-menu > li {
  margin-left: 10px;
}
.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}
.nav-menu ul li {
  transition: 0.3s;
}
.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}
.nav-menu ul li:hover > a {
  color: #18d26e;
}
.nav-menu ul ul {
  margin: 0;
}
/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}
#mobile-nav-toggle i {
  color: #fff;
}
@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}
/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #18d26e;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #18d26e;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/* banner, sections and footer*/

/*----- ---------- -----
        PRODUCT
 ----------------------*/
.product{
    background: linear-gradient(45deg, #1de099, #1dc8cd);
    height: 100vh;
    width: 100%;
}
.product .content{
  flex-direction: column;
  text-align: center;  
}
.product h2,
.product p,
.product a.button{
  color: #fff;
}
.product h2{ 
  margin: 0;
  margin-top: 1em;
  font-size: 3em;
  font-weight: 400;
  line-height: 2em;
  padding: 0 1em;
}
.product p{
  font-weight: 400;
  line-height: 2em;
  padding: 0 1em;
  margin-bottom: 1.2em;
  font-size: 1.5em;
}
.product .text a.button{
  background: transparent;
  border: 2px solid #fff;
  padding: 10px 40px;
  width: 25%; 
  margin: auto;
  border-radius: 25px;
}
.product a.button:hover{
    color: #1dc8cd;
    background: #fff;
}
.banner-product {

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;   
    width: 100%;
    height: 530px;
}
.banner-product .content{
  flex-direction: row;
}
.banner-product img{ 
  box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
  vertical-align: middle;

}
.banner-product .product-screen-1{
   position: absolute;
  z-index: 30;
  left: calc(50% + 54px);
  bottom: 0;
  height: 500px;
}
.banner-product .product-screen-2{
  position: absolute;
  z-index: 20;
  left: calc(50% - 154px);
  bottom: 0;
  height: 430px;
}
.banner-product .product-screen-3{
 position: absolute;
  z-index: 10;
  left: calc(50% - 374px);
  bottom: 0;
  height: 360px; 
}
.banner-product img{
  vertical-align: middle;
}
/*----- ---------- -----
      ABOUT-US
 ----------------------*/
.about-us{  
  background: #EFF5F5
}
.about-us .content{
  flex-direction: column;
  text-align: center;
}
.about-us .content h2{
  margin-bottom: 0.5em;
  color: #111;
}
.about-us .content p{
  padding: 2em 2.8em ;
  font-style: italic;
  font-size: 1em;
}
.about-us .showcase{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.2em;  
}
.about-us .showcase .thumb{
  width: 50%;
}
.about-us .showcase .thumb img{
  max-height: 500px;
  width: 100%;
}
.about-us .showcase .text{
  width: 50%;
  padding: 0 2em;
}
.about-us .showcase .text h3,
.about-us .showcase .text p,
.about-us .showcase .text h2{
  line-height: 1.5em;
}
.about-us .showcase .text h3{
  font-size: 18px;
  font-style: italic;  
}
.about-us .showcase .text li{
  list-style: none;
  line-height: 2em;
}
.about-us .showcase .text i{
  padding-right: 5px;
  color: #1dc8cd;
  font-size: 1.2em;
}
/*----- ---------- -----
      product-feature
 ----------------------*/
.product-feature .text span{  
  max-width: 80px;
}
.display-product  .content{
  flex-direction: row;
  max-width: 1140px;
  width: 100%;
}
.display-product  .thumb{  
  flex: 1 1 40%;  
}
.display-product  .features{
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
}
.display-product  .features .text{
  text-align: center;  
}
.display-product  .features .text h3{
  color: #111;
  margin-bottom: 0;
}
.features .items{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.features .items{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  margin-top: 30px;
}
.features .items article{
  flex: 1 1 48%;
  margin: 5px;
}
.features .items article h4{
  font-weight: 300;
  color: #111;

}
.features .items article p{
  font-size: 14px;
  font-weight: 300;
}
.features .items article i{
 color: #1dc8cd;
 font-size: 2.5em;
}
/*-----------------
  advanced-feature
-------------------*/
.advanced-feature{ 
  width: 100%;
}
.advanced-feature.bg-grey{
  background: #eff5f5; 
}
.advanced-feature  article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    max-width: 1140px;
    margin: auto;
    padding: 60px 0 30px 0;   
}
.advanced-feature  article .text{
  flex: 1 1 45%;
}
.advanced-feature  article .thumb{
  flex: 1 1 45%;
   margin: auto 25px;
}
.advanced-feature h2{
  color: #111;
  font-size: 26px;
  font-weight: 700;
   margin-bottom: 10px;
}
.advanced-feature h3{
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  color: #999;
}
.advanced-feature article i{
  padding-right: 5px;
  font-size: 3.6em;
  color: #1dc8cd;
}
.advanced-feature article p{
  line-height: 24px;
  margin-bottom: 0;
}
.advanced-feature article img{
  vertical-align: middle; 
}
/*-----------------
  CALL TO ACTION
-------------------*/
.call-to-action{
    background: linear-gradient(rgba(29, 200, 205, 0.65), rgba(29, 205, 89, 0.2)), 
    url(../img/call-to-action-bg.jpg) fixed center center;
    background-size: cover;
    height: 290px;
}
.call-to-action .content{ 
  max-width: 1140px;
  width: 100%;
  margin: auto;
   flex-direction: row;
   flex-wrap: wrap;
   display: flex;
   justify-content: center;
   align-items: center;
}
.call-to-action .text{
  flex: 1 1 60%;
  margin: auto 3.8em;
}
.call-to-action .button a{
  flex: 1 1 35%;

  line-height: 2em;
  color: #fff;
  width: 20%;
  border: 2px solid #fff;
  background: transparent;
  padding: 10px 40px;
  border-radius: 25px;
}
.call-to-action .button a:hover{
  background:  #1dc8cd;
   border: 2px solid transparent;
}
.call-to-action h3{
  font-weight: 700;
  color: #fff;
  font-size: 28px;
  margin-bottom: 0.8em;
}
.call-to-action p{
  color: #fff;
}
/*-----------------
  MORE FEATURES
-------------------*/

.more-features{
  background: #eff5f5;
}
.more-features .center-text{
  text-align: center;
}
.more-features h2 {
  margin-bottom: 10px;
}
.more-features  span.line{
  width: 4%;
   margin-bottom: 20px;
}
.more-features .center-text p{
  font-size: 15px;
  font-style: italic;
}
.more-features article {
  /*flex-child*/
  flex: 1 1 47%;
   /*flex-father*/
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  background: #fff;
  margin: 10px;
}
.more-features article .text{
  flex: 1 1 65%;
}
.more-features  h2{
  color: #111;
}
.more-features article h3{
  color: #111;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.9em;
}
.more-features article i{
  font-size: 4em;
  color:  #1dc8cd; 
  flex: 1 1 30%;
  padding-right: 0.5em;
}
.more-features article p{
  font-size: 14px;  
}
/*--------------------------
        BRANDS
--------------------------*/
.brands{

}
.brands .content{
  max-width: 900px;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
  padding: 0;
}
.brands .content img{
  width: 110px;
  height: 50px;
  align-self: center;
  vertical-align: middle;
  opacity: 0.5;
}
.brands .content img:hover{
  opacity: 1;
}
/*--------------------------
      PRICING
--------------------------*/
.pricing{
  background: #EFF5F5;
  width: 100%;
}
.pricing .text{
  width: 90%;
  max-width: 1140px;
  margin: auto;
  text-align: center;
}
.pricing .text h2{
  margin-bottom: 5px;
}
.pricing .pricing-table{
  width: 90%;
  max-width: 1140px;
  margin: auto;
  /*flex*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pricing .pricing-table article{
  flex: 1 1 auto;
    /*flex*/
  background: #fff;
  padding: 20px;
  margin: 40px 20px;  
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15); 
} 
.pricing .pricing-table article h3,
.pricing .pricing-table article h4{
   text-align: center;
}
.pricing .pricing-table article h3{
  margin-bottom: 0.5em;
  font-weight: 400;
  font-size: 28px;
  color: #8f8f8f;
}
.pricing .pricing-table article i{
  margin-left: 20px;
}
.pricing .pricing-table article h4 sup{
  color: #1dc8cd;
  font-size: 20px;
  top: -20px;
}
.pricing .pricing-table article h4{
  color: #1dc8cd;
  font-size: 46px;
  font-weight: 300;
  margin-bottom: 0.8em;
}  
.pricing .pricing-table article h4 span{
  color: #bababa;
  margin-left: 5px;
  font-size: 20px;
}
.pricing .pricing-table article p{
  color: #9f9f9f;
}
.pricing .pricing-table article i{
  margin-right: 4px;
  color: #00C8CD;
  color: 1.1em;
}
.pricing .pricing-table .button{
  background: #515e61;
  padding: 6px 8px;
  border-radius: 25px; 
  width: 50%;
  text-align: center;
  margin: auto;
}
.pricing .pricing-table .button a{
  text-decoration: none;
  color: #fff;
}
.pricing .pricing-table article:nth-child(2){
  border: 2px solid #00C8CD;
}
.pricing .pricing-table article:nth-child(2) .button{
   background: linear-gradient(45deg, #1de099, #1dc8cd);
}
/*--------------------------
            FAQ
--------------------------*/
.faq{
  width: 100%;
}
.faq .text{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
.faq .text h2{
  margin-bottom: 10px;
  color: #111;
}
.faq .text span.line{
  margin-bottom: 10px;
}
.faq .text p{
  font-style: italic;
}
.accordion{  
  max-width: 1140px;
  width: 90%;
  margin: auto;
  padding: 40px;
}
.accordion .card-header{
  background: #fff;
  padding-left: 0;
}
.accordion .card-header h5 a{
  color: #111;

}
.accordion .card-header h5 a:hover{
  color: #00C8CD;
}
.accordion  h5.card-block{
    font-weight: bold;     
    padding-left: 0;
    font-weight: 400;
    font-size: 1em;
    margin: 1.2em 0;
    line-height: 1.7em;
}
/*----------------------------
        OUR TEAM
-----------------------------*/
 .our-team{
  background: #EFF5F5;
 } 
.our-team .text{
  width: 90%;
  max-width: 1140px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
.our-team .text h2{
  margin-bottom: 10px;
  color: #111;
}
.our-team .text span.line{
   margin-bottom: 10px;
}

.our-team .team{
  margin: auto;
  margin-top: 20px;
  max-width: 1140px;
  width: 90%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.our-team .team article{
   width: 250px;
   flex: 1 2 auto;
   margin: 5px;
   text-align: center;
}

.our-team .team article img{
  width: 100%;
 height: auto;
 margin-bottom: 1em;
}
.our-team .team article .team-text h4{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
} 
.our-team .team article .team-text p{
  font-style: italic;
  font-size: 13px;
}
.our-team .team article .social a{
  color: #999;
}
.our-team .team article .social a:hover{
  color: #41F3C3;
}
.our-team .team article .social i{
  margin-left: 5px;

}
/*----------------------------
        OUR TEAM
-----------------------------*/

.gallery .text{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.gallery .text h2{
  margin-bottom: 10px;
  color: #111;
}
.gallery .text span.line{
  margin-bottom: 10px;
}
.gallery .thumb{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 40px 0;

}
.gallery .thumb a{
  width: 500px;
  height: auto;
  flex: auto;
  transition: all ease-in-out 0.4s;
  overflow: hidden;
}
.gallery .thumb a img{
  width: 100%;
  height: auto;
   transition: all ease-in-out 0.4s;
}
.gallery .thumb a img:hover{
   transform: scale(1.1);
}

/*----------------------------
        CONTACT
----------------------------*/
.contact {

  margin-top: -100px;
}

.contact .content{ 
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .content .contact-info h2{
  font-size: 36px;
  font-weight: 300;
  color: #1dc8cd;
  margin-bottom: 10px;
}
.contact .content .contact-info p{
  font-size: 14px;
  color: #888;
  line-height: 24px;
  margin-bottom: 1.5em;
}

.contact .content .contact-info .social a{ 
  color: #1dc8cd;
  margin-right: 4px;
  padding: 10px 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid color: #1dc8cd;
  background: #fff;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  line-height: 1em;
  border: 1px solid #1dc8cd;
} 
.contact .content .contact-info,
.contact .content .location{
    flex: 1 1 30%;
    margin: 5px;
}
.contact .content .location{
  text-align: center;

}
.contact .content .location p{
  padding-left: 0;
  font-size: 14px;  
  color: #333;
  line-height: 1em;
}
.contact .content .location .middle{
  margin-left: 3em;
}
.contact .content .location i{
  margin-right: 1em;
  font-size: 2em;
  color: #1dc8cd;
}
.contact .content .form{
  flex: 1 1 37%;  
}
 .contact .content  form input,
 .contact .content  form textarea{
    color: #495057;
    font-size: 14px;
    padding-left: 10px;
 }   
.contact .content  form input[type="text"],
.contact .content  form input[type="email"]{
  width: 45%;
  padding: 5px 10px;
  margin-bottom: 16px;
  font-size: ;
}
.contact .content  form input:nth-child(3),
.contact .content  form textarea{
  width: 91%;
}
.contact .content  form textarea{
  max-height: 200px;
  min-height: 120px; 
  margin-bottom: 5px;
  margin-bottom: 1em;
}

.contact .content  form .button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 45%;
}
.contact .content  form .button input[type="submit"]{
  width: 90%;
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  color: #fff;
  padding:  8px;
  font-size: 1em;
  border-radius: 25px;
  cursor: pointer;
  border: none;
   border: 1px solid  transparent;
}
.contact .content  form .button input[type="submit"]:hover{
  background: transparent;
  border: 1px solid  #1dc8cd;
  color: #1dc8cd;
}
/*--------------------------
         FOOTER
--------------------------*/

footer .content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  max-width: 1200px;
  padding: 0 auto;
}
footer .content .copyright{
  flex: 1 1 40%;
}
footer .content .menu{
  flex: 1 1 40%;
}
footer .content .back-to-top{
  flex: 1 1 15%;
}
footer .content .copyright p{
  color: #111;
  font-size: 14px;
}
footer .content .copyright span{
  font-weight: 700;
}
footer .content .copyright span.author{
  color: #0ECBCF;
}
footer .content .menu nav a{
  line-height: 1em;
  margin: 5px;
  color: #666;
  font-size: 14px;
}
footer .content .back-to-top {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  color: #fff; 
  height: 35px;
  width: 50px;
  padding: 8px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  align-self: flex-end;
  margin-top: 50px;
  position: absolute;
  margin-left: 77%;
}
footer .content .back-to-top a{
  color: #fff;
}
/*------ Responsivo ------*/

@media (max-width: 400px) {

 .product .text {
  margin-top: 60px;
 }

 .product .text h2{
  line-height: 1.5em;
  font-size: 2em;
 }
 .product .text p{
  font-size: 1.2em;
  margin-bottom: 2em;
 }
 .product .text a.button{
  font-size: 1em;
 }
}/*fim*/


@media (max-width: 420px) {
   .contact .content .contact-info .social{
    margin-bottom: 1.5em;
   }
  .contact .content .contact-info .social a{     
      padding: 0.5em 0;
      width: 1.9em;
      height: 1.9em;
      border-radius: 50%;
      font-size: 1em;      
      line-height: 0.6em; 
}
 .contact .content .location{
    margin-bottom: 2em;
 }
.contact .content  form input[type="text"],
.contact .content  form input[type="email"],
.contact .content  form textarea{

  width: 100%;
}


}/*--fim--*/

@media (min-width: 500px) and (max-width: 960px)   {

.gallery .thumb a{
  width: 50%;
  height: auto;
  flex: auto;
}
footer .content .back-to-top{
  margin-top: 150px;

}

}/*fim*/
 
@media (max-width: 959px) {
  .banner-product{
    display: none;
}
.about-us .showcase{
  flex-direction: column;
}
.about-us .showcase .thumb{
  margin-bottom: 1em;
}
.about-us .showcase .thumb,
.about-us .showcase .text{
  width: 100%;
}
.about-us .showcase .text h2{
  font-size: 24px;  
}
.about-us .showcase .text{
  padding: 0.8em 1.5em;
}
.display-product  .thumb img{
  margin-bottom: 50px;
}

.advanced-feature  article{
  flex-direction: column;
}
.advanced-feature  article .text,
.advanced-feature  article .thumb{
  width: 100%;

}
.advanced-feature  article .thumb{
 margin: 20px 0 20px 0;
}
.advanced-feature  article .thumb img{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.advanced-feature  article {
  padding-top: 20px;
}
.brands .content{
    flex-direction: column;  

}
.brands .content img{
  padding: 5px 0;
}
.call-to-action {
  height: auto;
  text-align: center;
}
.call-to-action .content{
  flex-direction: column;
  padding: 20px 5px;
}
.call-to-action p{
  margin-bottom: 40px;
}

.more-features article {
flex-direction: column;
justify-content: center;
}
.more-features article .icon{
    flex-direction: column;
  text-align: center;
}
.more-features article .text {
flex-direction: column;
text-align: center;
}

.pricing .pricing-table{
  flex-direction: column;
  text-align: center;
}
.pricing .pricing-table article p{
   font-size: 14px ;
   margin-left: 0;
   
}
.pricing .pricing-table article i{
  margin-left: 0;
}

.contact .content{  

  flex-direction: column;
}
.contact .content .contact-info{
  text-align: center;
}
.contact .content  form .button{
  
    width: 80%;
}
footer{
  margin-top: -50px;
}
footer .content {
  flex-direction: column;
  text-align: center;
}
footer .content .menu{
margin-bottom: 10px;
}
footer .content .button{
  margin: auto;
  width: 90%;
  max-width: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .content .back-to-top{
  margin-top: 150px;
  margin-right: 30%; 

}

}/*fim*/


@media (min-width: 1280px) and (max-width: 1500px) {

.banner-product{
  margin-top: 50px;
  height: 450px;
}

.product .content .text{
  
    margin-top: -50px;
}

}

}